<nav class="navbar navbar-expand-lg bg-body-tertiary nav-colorized">
  <div class="container-fluid">
    <div (click)="clickedNavBar()" style="cursor: pointer" class="navbar-brand">
      Shopping List
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div
            (click)="clickedAboutMe()"
            style="cursor: pointer"
            class="nav-link active"
            aria-current="page"
          >
            Hakkımda
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
